<md-card>
  <md-radio-group (change)="updatePublishedFilter($event)">
    <md-radio-button value="" checked="true">Toutes les questions</md-radio-button>
    <md-radio-button value="1">Seulement les publiées</md-radio-button>
    <md-radio-button value="0">Seulement les non publiées</md-radio-button>
  </md-radio-group>
</md-card>

<md-card>
  <md-list>
    <md-list-item *ngFor="let q of questions">
      <p md-line>
        <span> {{q.content}} </span>
      </p>
      <button md-icon-button disableRipple="true" class="action-button">
        <md-icon>description</md-icon>
      </button>
    </md-list-item>
  </md-list>
</md-card>
