<md-card>
  <md-radio-group [(ngModel)]="publishedFilter" (change)="getQuestions()">
    <md-radio-button value="">Toutes les questions</md-radio-button>
    <md-radio-button value="1">Seulement les publiées</md-radio-button>
    <md-radio-button value="0">Seulement les non publiées</md-radio-button>
  </md-radio-group>
</md-card>

<md-card>
  <md-list>
    <md-list-item *ngFor="let q of questions" [class]="q.className">
      <p md-line>
        <span> {{q.content}} </span>
      </p>
      <button md-icon-button class="publish-btn" (click)="changeQuestionVisiblity(q)">
        <md-icon>done</md-icon>
      </button>
      <button md-icon-button color="primary">
        <md-icon>description</md-icon>
      </button>
    </md-list-item>
  </md-list>
</md-card>
